div.content {
  display: flex;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

div.content section {
  flex: 1;
}

header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  margin-bottom: 1rem;
}

nav {
  clear: both;
  margin-bottom: 1rem;
  text-align: center;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}
