div.content {
  display: flex;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  margin-bottom: 1rem;
}

div.content section {
  flex: 1;
}

nav {
  height: 2.5rem;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearBoth {
  clear: both;
}

p:first-of-type {
  margin-top: 0;
}
