body { background-color: #bcbfbb; }

code { background-color: #f0f0ff; }

          a { color: #a04a2c; }
code { border-color: #a04a2c; }

h1,
footer { border-color: #052631; }

body { color: #322020; }
