html {
  font-family: serif;
  font-size: 16px;
}

nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

nav span {
  text-align: center;
}

p,
li,
span {
  font-size: 1.25rem;
}

li {
  margin-bottom: 1rem;
}

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

footer {
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 1rem;
}

footer p {
  font-size: 1rem;
  text-align: right;
}

code {
  white-space: pre;
  font-family: 'Menlo', 'Lucida Console', 'Bitstream Vera Sans Mono', monospace;
  border: 1px solid;
}

code.block {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  overflow-x: scroll;
}

code.inline {
  display: inline;
  padding: 0.25rem;
  font-size: 0.7em;
}
