.rows {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.columns {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 100%;
}

.row {
  flex: 1;
  flex-shrink: 1000;
}

.column {
  flex: 1;
  flex-shrink: 1000;
}

.vertical.splitter {
  width: 0.5rem;
  flex-shrink: 0;
}

.horizontal.splitter {
  height: 0.5rem;
  flex-shrink: 0;
}

.red { background-color: red; }
.blue { background-color: blue; }
.white { background-color: white;}
.yellow { background-color: yellow; }

.splitter {
  background-color: black;
}

.container {
  width: 100%;
  margin-bottom: 1rem
}

.left.sizeable {
  width: 10rem;
  min-width: 5rem;
}

.right.sizeable {
  width: 10rem;
  min-width: 2.5rem;
}

.bottom.sizeable {
  height: 5rem;
  min-height: 2.5rem;
}

div.top.right {
  height: 5rem;
}

div.bottom.left {
  height: 5rem;
}
