form {
  display: block;
  border-width: 1px;
  border-style: solid;
  padding: 1rem;
}

form input,
form textarea {
  width: 100%;
}

form input,
form textarea {
  display: block;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

form button,
form select {
  display: inline-block;
  padding: 0.5rem;
}

form button {
  float: right;
  width: 6rem;
}

form textarea {
  resize: vertical;
}
