@media (min-width: 0) and (max-width: 40rem) {
  div.content {
    width: 24rem;
  }

  code.block {
    display: block;
  }

  span.next,
  span.previous,
  span.contents {
    display: block;
  }

  span.next,
  span.previous {
    margin-bottom: 0.125rem;
  }
}

@media (min-width: 40rem) and (max-width: 68rem) {
  div.content {
    width: 36rem;
  }

  code.block {
    display: block;
  }

  span.next,
  span.previous,
  span.contents {
    display: block;
  }

  span.next,
  span.previous {
    margin-bottom: 0.125rem;
  }
}

@media (min-width: 68rem) {
  div.content {
    width: 61rem;
  }

  code.block {
    display: inline-block;
    float: right;
    margin-left: 1rem;
  }

  nav {
    position: relative;
    height: 2.75rem;
  }

  span.next,
  span.previous,
  span.contents {
    position: absolute;
  }

  span.next {
    right: 0;
  }

  span.previous {
    left: 0;
  }

  span.contents {
    left: 50%;
    width: 5rem;
    margin-left: -2.5rem;
  }

  form {
    width: 20rem;
  }
}
